
body{
    background-color: #f6e8f4;

}

h1{
    background-color: #ae9cac;
   color: #000;

}

.headerbg {
  display: flex;
  flex-direction: row;
  
}
.headerbg div {
    background-size: 150px;
    border:1px solid black;
    width: 85vw;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.headerbg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

