
body{
    background-color: #f3f3f3;

}
.side-bar{
    width: 49px;
    height: 100%;
    border-right: #e6e6e1 solid 1px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f4f4ef;
    padding-top: 20px;

    .arrow-side{
        width: 25px;;
        height: auto;
        position:fixed;
        top: 10px;
        left: 10px;
        right:10px;
       
    }
    .arrow-sidebtn{
        width: 40px;
        height: 35px;
        background-color: #f4f4ef;
        border: none;
        border-radius: 5px;
        outline: none;
        position: fixed;
        top: 3px;
        left: 5px;
        
    }
    .arrow-sidebtn:hover{
        background-color: #ebebe7;
    }
    .nav-side{
        width: 30px;;
        height: auto;
        position:fixed;
        top: 42px;
        left: 10px;
        
       
    }

    .nav-sidebtn{
        width: 40px;
        height: 35px;
        background-color: #f4f4ef;
        border: none;
        border-radius: 5px;
        outline: none;
        position: fixed;
        top: 42px;
        left: 5px;
        
    }
    .nav-sidebtn:hover{
        background-color: #ebebe7;
    }
    .search-side{
        width: 17px;;
        height: auto;
        position:fixed;
        top: 87px;
        left: 15px;
        
       
    }
    .search-sidebtn{
        width: 40px;
        height: 35px;
        background-color: #f4f4ef;
        border: none;
        border-radius: 5px;
        outline: none;
        position: fixed;
        top: 78px;
        left: 6px;
        
    }
    .search-sidebtn:hover{
        background-color: #ebebe7;
    }
    .home-side{
        width: 50px;;
        height: auto;
        position:fixed;
        top: 123px;
        left: 2px;
    }

}