@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@609&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body 
{
    background-image: url(../CS_2NDQTRPORTFOLIO/assets/MonkeyBackground.png);
   background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f5eed9;

}

.title{
    color :#715d4b;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;;
}
.table {
    margin: auto;
    border-collapse: collapse;
    width: 50%;
    background-color: #f5f0e1;
    border-radius: 8px;
   
}
.heading{
    max-width: 800px;
    max-height: 100px;;
    margin: 40px auto;
    background-color: #ecdbc2;
    padding: 15px;
    border-radius: 8px;

}
.photo{
    text-align: center;
    margin-top: 20px;
}
.photo-text{
    max-width: 800px;
    margin: auto;
    text-align: justify;
     color :#534539;
    font-family: 'Ubuntu', sans-serif;
}
.navigation-heading
{
    text-align:center;
    color :#715d4b;
    font-family: 'Josefin Sans', sans-serif;
}