@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@609&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body 
{
    background-image: url(../CS_2NDQTRPORTFOLIO/assets/MonkeyBackground.png);
   background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f5eed9;

}

.title{
    color :#715d4b;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;;
}
table {
    margin: auto;
    border-collapse: collapse;
    width: 50%;
    background-color: #f5f0e1;
    border-radius: 8px;
   
}

table, td, th {
  border: 1px solid;
  border-style: solid;
  border-width: 2px; 
  
  padding: 10px 12px
}
td {
    text-align: center;
    color :#584a3d;
    background-color: #ede0cc;
    border-color: #8c755f;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px 12px;
}
th {
    text-align:center;
    color :#715d4b;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #b1a49a;
     border-color: #8c755f;
     padding: 10px 12px;
}
    

.heading{
    max-width: 800px;
    max-height: 100px;;
    margin: 40px auto;
    background-color: #ecdbc2;
    padding: 15px;
    border-radius: 8px;

}
.photo{
    text-align: center;
    margin-top: 20px;
}
.photo-text{
    max-width: 800px;
    margin: auto;
    text-align: justify;
     color :#534539;
    font-family: 'Ubuntu', sans-serif;
}
.navigation-heading
{
    text-align:center;
    color :#715d4b;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #b1a49a;
    max-width: 400px;
    margin: auto;
    border-radius: 4px;
}
.navigation{
    text-align: left;
    color: #534539;
    font-family: 'Ubuntu', sans-serif;
    max-width: 400px;
    margin: auto; 
    background-color: #ede0cc;
    padding-bottom: 10px;
    border-radius: 4px;
}
footer{
    text-align: center;
    color :#715d4b;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 20px;
}